@model IEnumerable<ProjectManagement.Models.SinhVienNganhHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TuNgay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DenNgay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhoaHocID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nganh.TenNganh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinhVien.HoTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TuNgay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DenNgay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhoaHocID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nganh.TenNganh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.HoTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
