@model ProjectManagement.Models.DeTai

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DeTai</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.DeTaiId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeTaiId)
                @Html.ValidationMessageFor(model => model.DeTaiId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenDeTai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDeTai)
                @Html.ValidationMessageFor(model => model.TenDeTai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa)
                @Html.ValidationMessageFor(model => model.MoTa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiangVienId, "GiangVienId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GiangVienId", String.Empty)
                @Html.ValidationMessageFor(model => model.GiangVienId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NhomSVId, "NhomSVId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NhomSVId", String.Empty)
                @Html.ValidationMessageFor(model => model.NhomSVId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Images)
                @Html.ValidationMessageFor(model => model.Images)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
