@using System.Linq
@using ProjectManagement.App_Start.Classes
@using ProjectManagement.Models
@model IEnumerable<ProjectManagement.Models.DeTai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>Đề Tài</h1>
</section>
<section class="content">
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-12">
            @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary pull-left" })
        </div>
    </div>
    <div class="box">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <th style="width: 50px">STT</th>
                    <th>
                        Mã Đề Tài
                    </th>
                    <th>
                        Tên Đề Tài
                    </th>
                    <th>
                        Mô Tả
                    </th>
                    <th>
                        Số Lượng Thành Viên
                    </th>
                    <th>
                        Ngày Tạo
                    </th>
                    <th>
                        Ngày Đăng Ký
                    </th>
                    <th>
                        Tài Liệu
                    </th>
                    <th style="width: 50px; text-align: center">Chức năng</th>
                </tr>
                @{
                    int stt = 0;
                    ProjectManagementEntities db = new ProjectManagementEntities();
                }
                @foreach (var item in Model)
                {
                    stt++;
                    List<Khoa> userCreatedBy = db.Khoas.ToList();
                    <tr>
                        <td>@stt</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeTaiId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDeTai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MoTa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuongThanhVien)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayTao  )
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayDangKy, "{0:dd/MM/yyyy}")
                        </td>
                        <td>
                            <a href="@Url.Action("TaiLieu", new { DTId = item.DeTaiId })">Tài Liệu</a>
                        </td>
                        <td align="center">
                            @*@Html.ActionLink("Sửa", "Edit", new {id = item.USER_ID}) |
                                @Html.ActionLink("Xóa", "Delete", new {id = item.USER_ID})*@
                            <ul class="contro_function" style="width: 70px">
                                <li>
                                    <a title="Cập nhật" href="@Url.Action("Edit", new { id = item.DeTaiId })">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </li>
                                <li>|</li>
                                <li>
                                    <a title="Xóa" href="@Url.Action("Delete", new { id = item.DeTaiId })">
                                        <i class="fa fa-remove" style="color:red;"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>



        </table>
    </div>
</section>