@using ProjectManagement.Models
@model ProjectManagement.Models.TaiKhoan

@{
    ViewBag.Title = "Tạo mới Người dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<TaiKhoan> userCreatedBy = (List<TaiKhoan>)ViewBag.UserCreatedBy;
}

<section class="content-header">
    <h1>Tài khoản</h1>
</section>
<section class="content">
    @{
        int countError = ViewBag.CountError != null ? (int)ViewBag.CountError : 0;
        if (countError > 0)
        {
            @Html.ValidationSummary(true)
            @Html.ValidationMessage("error", "", new { @class = "alert alert-danger alert-dismissable", style = "text-align:left; display: block" })
        }
    }
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Tạo mới Người dùng</h3>
        </div>

        @using (Html.BeginForm("Create", "TaiKhoan", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="box-body">
                <div class="form-group">
                    @Html.Label("Họ tên", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.HoTen, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HoTen)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Tên đăng nhập", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Mật khẩu", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Vai trò", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("LoaiTaiKhoanId", null, "Chọn Vai Trò", new { @class = "form-control", @id = "role" })
                        @Html.ValidationMessageFor(model => model.LoaiTaiKhoanId)
                    </div>
                </div>
                <div class="form-group" id="chonSinhVien">
                    @Html.Label("Chọn Sinh Viên", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("SinhVienId", null, "Chọn Sinh Viên", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SinhVienId)
                    </div>
                </div>
                <div class="form-group" id="chonGiangVien">
                    @Html.Label("Chọn Giảng Viên", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("GiangVienId", null, "Chọn Giảng Viên", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GiangVienId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Là Quản Trị", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*Nam @Html.CheckBoxFor(model => model.LaQuanTri, new { @checked = "checked" })*@
                        @Html.ValidationMessageFor(model => model.LaQuanTri)
                    </div>
                </div>
                @{

                }
            </div>
            <div class="box-footer">
                @*<button type="submit" class="btn btn-default">Cancel</button>*@
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary pull-right" />
            </div>
                    }
    </div>
</section>
<script>
    console.clear();
    $("#role").change(function (item) {
        var role = $(this).val();
        console.log('Da chon role: ' + role);
        showHideSvGv(role);
    });
    function showHideSvGv(role) {
        if (role == 1) {
            $('#chonSinhVien').show();
            $('#chonGiangVien').hide();
            console.log('1');
        } else if (role == 2) {
            $('#chonSinhVien').hide();
            $('#chonGiangVien').show();
            console.log('2');
        } else {
            $('#chonSinhVien').hide();
            $('#chonGiangVien').hide();
            console.log('3');
        }
        console.log('4');        
    }
    //Thiet lap cho lan chay dau tien
    showHideSvGv($("#role").val());
</script>
