@model ProjectManagement.Models.TaiKhoan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TaiKhoan</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.TaiKhoanId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaiKhoanId)
                @Html.ValidationMessageFor(model => model.TaiKhoanId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTen)
                @Html.ValidationMessageFor(model => model.HoTen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT)
                @Html.ValidationMessageFor(model => model.SDT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDTK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDTK)
                @Html.ValidationMessageFor(model => model.SDTK)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoaiTaiKhoanId, "LoaiTaiKhoanId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LoaiTaiKhoanId", String.Empty)
                @Html.ValidationMessageFor(model => model.LoaiTaiKhoanId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SinhVienId, "SinhVienId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SinhVienId", String.Empty)
                @Html.ValidationMessageFor(model => model.SinhVienId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiangVienId, "GiangVienId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GiangVienId", String.Empty)
                @Html.ValidationMessageFor(model => model.GiangVienId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LaQuanTri, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LaQuanTri)
                @Html.ValidationMessageFor(model => model.LaQuanTri)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
