@model IEnumerable<ProjectManagement.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDTK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaQuanTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiangVien.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiTaiKhoan.TenLoaiTaiKhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinhVien.HoTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaQuanTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiangVien.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiTaiKhoan.TenLoaiTaiKhoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.HoTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaiKhoanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaiKhoanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaiKhoanId })
        </td>
    </tr>
}

</table>
