@model IEnumerable<ProjectManagement.Models.TinTucThongBao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; text-shadow:inherit">News</h1>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <!-- Blog Post -->
            <div class="site-block">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="site-heading"><strong>@Html.DisplayFor(modelItem => item.TieuDe)</strong></h3>
                        <p>@Html.DisplayFor(modelItem => item.NoiDung)</p>
                    </div>
                </div>
                <div class="clearfix">
                    <p class="pull-right">
                        <a>@Html.ActionLink("Read more..", "Details", new { id = item.TinTucId }, new { @class = "label label-primary" })</a>
                    </p>
                    <ul class="list-inline pull-left">
                        <li><i class="fa fa-calendar"></i>@Html.DisplayFor(modelItem => item.NgayDang)</li>
                        <li><i class="fa fa-user"></i> by <a href="javascript:void(0)">@Html.DisplayFor(modelItem => item.TaiKhoan.Username)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
   