@model ProjectManagement.Models.QuanLyLich

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>Phân Đề Tài</h1>
</section>
<section class="content">
    @{
        int countError = ViewBag.CountError != null ? (int)ViewBag.CountError : 0;
        if (countError > 0)
        {
            @Html.ValidationSummary(true)
            @Html.ValidationMessage("error", "", new { @class = "alert alert-danger alert-dismissable", style = "text-align:left; display: block" })
        }
    }
    <div class="box box-info">

        @using (Html.BeginForm("Create", "QuanLyLiche", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="box-body">
                <div class="form-group">
                    @Html.Label("Đợt Khóa Luận", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("DotKhoaLuanId", null, String.Empty, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.DotKhoaLuanId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Tiêu Đề", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.TieuDe, new { @class = "form-control", @placeholder = "Nhập nội dung..."})
                        @Html.ValidationMessageFor(model => model.TieuDe)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Mốc Thời Gian", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.MocThoiGian, new { @class = "form-control", type = "date", required = "required" })
                        @Html.ValidationMessageFor(model => model.MocThoiGian)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Ghi Chú", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control", @placeholder = "Nhập nội dung...", @cols = "80", @rows = "4" })
                        @Html.ValidationMessageFor(model => model.NoiDung)
                    </div>
                </div>
            </div>
            <div class="box-footer">
                @*<button type="submit" class="btn btn-default">Cancel</button>*@
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                @*<a href="/Admin/SinhVienKhoaHoc/DSSV?KHId=@idKhoaHoc" class="btn btn-default">Back to List</a>*@
                <input type="submit" value="Save" class="btn btn-primary pull-right" />
            </div>
        }
    </div>
</section>
