@using ProjectManagement.App_Start.Classes
@using ProjectManagement.Models
@model IEnumerable<ProjectManagement.Models.DotKhoaLuan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>Minestone</h1>
</section>
<section class="content">
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-12">
            <h3>Danh Sách Đợt Khóa Luận</h3>
        </div>
    </div>
    <div class="box">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <th style="width: 50px">STT</th>
                    <th>
                        Mã Đợt Khóa Luận
                    </th>
                    <th>
                        Tên Đợt Khóa Luận
                    </th>
                    <th>
                        Năm Học Học Kỳ
                    </th>
                </tr>
                @{
                    int stt = 0;
                    ProjectManagementEntities db = new ProjectManagementEntities();
                }
                @foreach (var item in Model)
                {
                    stt++;
                    List<DotKhoaLuan> userCreatedBy = db.DotKhoaLuans.ToList();
                    <tr>
                        <td>@stt</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DotKhoaLuanId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDotKhoaLuan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NamHoc.TenNamHocHocKy)
                        </td>
                        <td>
                            <a href="@Url.Action("DSD", new { DKId = item.DotKhoaLuanId })">Kế Hoạch</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>