@model ProjectManagement.Models.TaiLieu

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TaiLieu</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.TaiLieuId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaiLieuId)
                @Html.ValidationMessageFor(model => model.TaiLieuId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenTaiLieu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTaiLieu)
                @Html.ValidationMessageFor(model => model.TenTaiLieu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TepTinDinhKem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TepTinDinhKem)
                @Html.ValidationMessageFor(model => model.TepTinDinhKem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeTaiId, "DeTaiId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DeTaiId", String.Empty)
                @Html.ValidationMessageFor(model => model.DeTaiId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
