@using ProjectManagement.Models
@model ProjectManagement.Models.DanhGiaDeTai

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Ten = ViewBag.Ten + "";
}
<section class="content">
    @{
        int countError = ViewBag.CountError != null ? (int)ViewBag.CountError : 0;
        if (countError > 0)
        {
            @Html.ValidationSummary(true)
            @Html.ValidationMessage("error", "", new { @class = "alert alert-danger alert-dismissable", style = "text-align:left; display: block" })
        }
    }
    <div class="box box-info">
        <div class="box-header with-border">
            <h1>Rate</h1>
            <h2 class="box-title" style="text-align:center">Giảng Viên: @Ten</h2>
        </div>

        @using (Html.BeginForm("Create", "DanhGiaDeTais", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="box-body">
                <div class="form-group">
                    @Html.Label("Topic", new { @class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.DropDownList("DeTaiId", null, String.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DeTaiId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("SinhVien", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("SinhVienId", null, String.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SinhVienId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Score", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Diem, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Diem)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Content", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.NoiDungDanhGia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NoiDungDanhGia)
                    </div>
                </div>
            </div>
            <div class="box-footer">
                @*<button type="submit" class="btn btn-default">Cancel</button>*@
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary pull-right" />
            </div>
        }
    </div>
</section>