@using ProjectManagement.Models
@model IEnumerable<ProjectManagement.Models.SinhVienThuocNhomSV>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string nhom = ViewBag.nhom + "";
}

<section class="content-header">
    <h1>Nhóm Sinh Viên</h1>
</section>
<section class="content">
    <h1>@nhom</h1>
    <div class="row" style="padding-bottom: 10px;">
    </div>
    <div class="box">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <th style="width: 50px">STT</th>
                    <th>
                        Mã Sinh viên
                    </th>
                    <th>
                        Tên Sinh viên
                    </th>
                    <th>
                        Ngày sinh
                    </th>
                    <th>
                        Chi Tiết
                    </th>
                </tr>
                @{
                    int stt = 0;
                    ProjectManagementEntities db = new ProjectManagementEntities();
                }
                @foreach (var item in Model)
                {
                    stt++;
                    List<SinhVienThuocNhomSV> userCreatedBy = db.SinhVienThuocNhomSVs.ToList();
                    <tr>
                        <td>@stt</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SinhVienId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SinhVien.HoTen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SinhVien.NgaySinh)
                        </td>
                        <td>
                            <a href="@Url.Action("SV", new { SVId = item.SinhVienId })">Chi Tiết</a>
                        </td>
                    </tr>
                }
            </tbody>



        </table>
    </div>
    <div class="box-footer">
    </div>
</section>
