@model IEnumerable<ProjectManagement.Models.DotKhoaLuan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDotKhoaLuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamHoc.TenNamHocHocKy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDotKhoaLuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamHoc.TenNamHocHocKy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DotKhoaLuanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DotKhoaLuanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DotKhoaLuanId })
        </td>
    </tr>
}

</table>
