@model ProjectManagement.Models.PhanSinhVienChoDotKhoaLuan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhanSinhVienChoDotKhoaLuan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayPhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayPhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DotKhoaLuan.TenDotKhoaLuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DotKhoaLuan.TenDotKhoaLuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SinhVien.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SinhVien.HoTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
