@using System.Linq
@using ProjectManagement.App_Start.Classes
@using ProjectManagement.Models
@model PagedList.IPagedList<ProjectManagement.Models.Khoa>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>Khoa</h1>
</section>
<section class="content">
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-12">
            @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary pull-left" })
            @using (Html.BeginForm("index", "Khoa", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form" }))
            {
                <div class="form-group">
                    @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Tìm kiếm khoa theo tên" })
                </div>
                <div class="form-group">
                    <button type="submit" value="Search" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            }
        </div>
    </div>
    <div class="box">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <th style="width: 50px">STT</th>
                    <th>
                        Mã Khoa
                    </th>
                    <th>
                        Tên Khoa
                    </th>
                    <th>
                        Địa Chỉ
                    </th>
                    <th style="width: 50px; text-align: center">Chức năng</th>
                </tr>
                @{
                    int stt = 0;
                    ProjectManagementEntities db = new ProjectManagementEntities();
                }
                @foreach (var item in Model)
                {
                    stt++;
                    List<Khoa> userCreatedBy = db.Khoas.ToList();
                    <tr>
                        <td>@stt</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KhoaId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenKhoa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td align="center">
                            @*@Html.ActionLink("Sửa", "Edit", new {id = item.USER_ID}) |
                                @Html.ActionLink("Xóa", "Delete", new {id = item.USER_ID})*@
                            <ul class="contro_function" style="width: 70px">
                                <li>
                                    <a title="Cập nhật" href="@Url.Action("Edit", new { id = item.KhoaId })">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </li>
                                <li>|</li>
                                <li>
                                    <a title="Xóa" href="@Url.Action("Delete", new { id = item.KhoaId })">
                                        <i class="fa fa-remove" style="color:red;"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>



        </table>
        <div style="text-align:center">
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</section>