@using ProjectManagement.Models
@model ProjectManagement.Models.KhoaHoc

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>Tạo mới Khóa Học</h1>
</section>
<section class="content">
    @{
        int countError = ViewBag.CountError != null ? (int)ViewBag.CountError : 0;
        if (countError > 0)
        {
            @Html.ValidationSummary(true)
            @Html.ValidationMessage("error", "", new { @class = "alert alert-danger alert-dismissable", style = "text-align:left; display: block" })
        }
    }
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Tạo mới Khoa</h3>
        </div>

        @using (Html.BeginForm("Create", "KhoaHoc", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="box-body">
                <div class="form-group">
                    @Html.Label("Mã Khóa Học", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.KhoaHocID, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KhoaHocID)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Tên Khóa Học", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.TenKhoaHoc, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TenKhoaHoc)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Năm Học", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("NamHocHocKyId", null, String.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NamHocHocKyId)
                    </div>
                </div>
            </div>
            <div class="box-footer">
                @*<button type="submit" class="btn btn-default">Cancel</button>*@
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary pull-right" />
            </div>
        }
    </div>
</section>
