@model ProjectManagement.Models.NamHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NamHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNamHocHocKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNamHocHocKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuNgay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuNgay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DenNgay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DenNgay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamHoc1.TenNamHocHocKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamHoc1.TenNamHocHocKy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NamHocHocKyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
